.messages_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;

  @media (max-width:768px) {
    padding: 0 1rem;
  }
  &__details {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
    &_avatar {
      img {
        border-radius: 50%;
        height: 5rem;
        width: 5rem;
        object-fit: cover;
      }
    }
    &_username {
      h3 {
        font-size: 1.6rem;
        color: white;
      }
    }
  }

  svg {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
  }
}