.profile_genres {
  margin-bottom: 3rem;

  @media (max-width: 1440px) {
    padding: 0 2rem;
  }

<<<<<<< HEAD
  @media (max-width: 768px) {
    margin-bottom: 3rem;
    padding: 0;
  }

  &__title {
    display: flex;
    align-items: center;
=======
  h3 {
    font-size: 1.8rem;
>>>>>>> parent of 4e7e8e8 (Fix: auth, chat, token , change profile genre and platforms to slider)
    margin-bottom: 2rem;

    h3 {
      font-size: 1.8rem;
      margin-right: 1.5rem;

      @media (max-width: 768px) {
        padding-left: 1.5rem;
      }
    }

    svg {
      font-size: 2rem;
      cursor: pointer;
      color: #fff;
      transition: color 0.3s;

      &:hover {
        color: var(--color-accent);
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__genre {
    margin-right: 3rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    line-height: 16px;
    padding:  1rem 3rem;
    border-radius: 15px;
    background-color: #4461F2;
    color: #fff;

    @media (max-width: 768px) {
      margin-bottom: 2rem;
    }
  }
}