.last_step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 5px);
  padding-top: 3rem;

  h2 {
    font-size: 6rem;
    margin-bottom: 1rem;
    color: #fff;
    @media (max-width: 994px) {
      font-size: 4rem;
    }
  }

  & > span {
    font-size: 2rem;
    margin-bottom: 5rem;
    color: #fff;

    @media (max-width: 994px) {
      font-size: 1.7rem;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media (max-width: 554px) {
      flex-direction: column-reverse;
    }
  }

  &__btn_prev {
    font-size: 1.7rem;
    padding: 1.5rem 5rem;
    background: #4461F2;
    box-shadow: 0 12px 21px 4px rgba(68, 97, 242, 0.15);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin: 2rem;

    transition: background 0.5s, opacity 0.5s;

    @media (min-width: 1024px) {
      &:hover {
        background: #334dc6;
      }
    }

    @media (max-width: 994px) {
      padding: 1.5rem 10rem;
    }
  }

  &__btn_next {
    font-size: 1.7rem;
    padding: 1.5rem 20rem;
    background: #4461F2;
    box-shadow: 0 12px 21px 4px rgba(68, 97, 242, 0.15);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;

    transition: background 0.5s, opacity 0.5s;

    @media (min-width: 1024px) {
      &:hover {
        background: #334dc6;
      }
    }

    @media (max-width: 994px) {
      padding: 1.5rem 10rem;
    }

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}