.profile_friends {
  overflow: hidden;
  margin-bottom: 3rem;

  @media (max-width: 768px) {
    margin-bottom: 2rem;
    padding: 0;
  }


  h3 {
    font-size: 1.8rem;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
      padding-left: 1.5rem;
    }

  }
  &__container {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;

    &_btn {
      margin: 1rem auto;
    }
  }

  &__btn {
    padding: 1rem 3rem;
    background-color: #4461F2;
    border-radius: 10px;
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.8rem;
    cursor: pointer;
    transition: background-color 0.5s;

    &:hover {
      background-color: #394eca;
    }
  }
  &__friend {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #4461F2;
    flex-shrink: 0;
    margin: 0 1rem;
    cursor: pointer;
    transition: box-shadow 0.3s;
    object-fit: cover;

    &:hover {
      box-shadow: 0 0 5px #4461F2;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem;

    &_prev,
    &_next {
      transition: opacity 0.5s;
    }

    svg {
      transform: scale(1.2);
      margin-right: 2rem;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: #4461F2;
      }
    }
  }
}