.chat {
  //padding: 1rem 2rem 1rem 4rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  &__container {
    padding: 5rem 3rem;
    overflow-y: auto;
    height: 73vh;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__empty {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.8rem;
  }
}