.messages {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  gap: 0.1rem;
  overflow: hidden;
  margin-right: 10rem;

  @media (max-width: 768px) {
    height: calc(100vh - 9.2rem - 7.2rem);
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 554px) {
    margin-right: 6rem;
  }


  &__list {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;

    @media (max-width: 768px) {
      margin-bottom: 2rem;
    }
    &::-webkit-scrollbar {
      width: 0.2rem;
      &-thumb {
        background-color: #ffffff39;
        width: 0.1rem;
        border-radius: 1rem;
      }
    }

    & > p {
      color: #fff;
      font-size: 1.7rem;
      margin: 1.5rem auto;
    }

    &_message {
      display: flex;
      align-items: center;

      &_content {
          max-width: 40%;
          overflow-wrap: break-word;
          padding: 1.7rem;
          font-size: 1.4rem;
          border-radius: 1.5rem;
          color: #d1d1d1;

        }

      &.sended {
        justify-content: flex-end;
        .messages__list_message_content {
          background-color: #4f04ff21;
        }
      }

      &.recieved {
        justify-content: flex-start;
        .messages__list_message_content {
          background-color: #9900ff20;
        }
      }
    }
  }
}