html,body {
  font-size: 10px;
}

body {
  color: #fff;
  font-family: 'Barlow', sans-serif;
  background-color: $background-color;

  &::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--color-black-bg);
    &-thumb {
      background-color: var(--color-accent);
      width: 0.1rem;
      border-radius: 1rem;
    }
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 2rem;
}

.container-lg {
  max-width: 1920px;
  margin: 0 auto;

}

.swiper-button-disabled {
  opacity: 0 !important;
  pointer-events: none;
}

.emoji-picker-react {
  position: absolute !important;
  top: -350px !important;
  background-color: #080420 !important;
  box-shadow: 0 5px 10px #9a86f3 !important;
  border-color: #9a86f3 !important;
  .emoji-scroll-wrapper::-webkit-scrollbar {
    background-color: #080420;
    width: 5px;
    &-thumb {
      background-color: #9a86f3 !important;
    }
  }
  .emoji-categories {
    button {
      filter: contrast(0) !important;
    }
  }
  .emoji-search {
    background-color: transparent !important;
    border-color: #9a86f3 !important;
  }
  .emoji-group:before {
    background-color: #080420 !important;
  }
}