html,body {
  font-size: 10px;
}

body {
  color: #fff;
  font-family: 'Barlow', sans-serif;
  background-color: $background-color;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 2rem;
}

.container-lg {
  max-width: 1920px;
  margin: 0 auto;

}

.swiper-button-disabled {
  opacity: 0 !important;
  pointer-events: none;
}