$default-color: #151515;
$background-color: #1E1E1E;
$error-color: #BF0B0B;

:root {
  --header-height: 76px;
  --navbar-width: 94px;
  --color-accent: #4461F2;
  --color-dark-purple: #080420;
  --color-black-bg: #131324;
  --color-purple-hover: #5051F9
}