.navbar {
  position: fixed;
  width: var(--navbar-width);
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--color-black-bg);
  padding: 2rem 1.5rem;
  text-align: center;
  margin: 0 auto;
  z-index: 101;
  overflow-y: auto;

  @media (max-width: 768px) {
    bottom: 0;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: auto;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    padding-top: 0.5rem;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;

    @media (max-width: 768px) {
      width: 100%;
      margin-top: 0;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    a {
      margin-bottom: 3rem;
      padding: 1rem 0;
      border-radius: 10px;
      transition: background-color 0.3s;
      position: relative;

      @media (max-width: 768px) {
        margin-bottom: 0;
        padding: 1rem;
      }

      &.active,
      &:hover {
        background-color: rgba(68, 97, 242, 0.8);

        svg {
          color: #fff;
        }

        span {
          color: #fff;
        }
      }

      svg {
        font-size: 3rem;
        color: var(--color-accent);
        transition: color 0.5s;
      }

      span {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.3rem;
        color: #fff;
        transition: color 0.5s;
        background-color: var(--color-accent);
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

    }
  }
}