.main_content {
  margin-top: var(--header-height) !important;
  padding-left: var(--navbar-width);

  @media (max-width: 768px) {
    padding-left: 0;
  }
}

._padding {
  @media (max-width: 768px) {
    margin-bottom: 9.2rem;
  }
}